.navbar {
    background-color: rgb(200, 226, 230);
    min-height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}

#app-logo {
    margin-left: 25px;
    width: 30px;
    height: 30px;
}

#h1-title {
    display: block;
    margin-left: 20px;
}

#account-section {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 25px;
}

#user {
    margin-top: auto;
    margin-bottom: auto;
}

button {
    margin-left: 10px;
}

.post-controlbar {
    margin-top: 15px;
    margin-left: 15px;
}

.posts-container {
    background-color: white;
    text-align: center;
}

.post {
    background-color: grey;
    border-radius: 5px; 
    border: 3px solid black;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    display: flex;
    overflow: hidden;
    position: relative;
}

.col1 {
    background-color: rgb(255, 193, 179);
    flex-grow: 1;
    float: left;
    text-align: center;
    border-right: 1px solid black;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-title {
    padding-bottom: 5px;
}

.post-buttons {
    padding-top: 10px;
    padding-right: 10px;
}

#post-edit {
    margin-bottom: 10px;
}

.col2 {
    background-color: rgb(255, 231, 222);
    flex-grow: 3;
    float: left;
    text-align: left;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-title {
    margin-top: 0;
    display: inline-block;
}

#post-hr {
    display: none;
    margin-block-start: none;
    margin-block-end: none;
    margin: 0;
}

.post-content {
    text-align: left;
    width: 100%;
}

@media screen and (max-width: 690px) {
    #h1-title {
        display: none;
    }
}

@media screen and (max-width: 860px) {
    .post {
        display: block;
    }
    .post-buttons {
        position: absolute;
        top: 0;
        right: 0;
    }
    .col1 {
        flex-grow: 0;
        width: 94%;
        text-align: left;
    }
    .col2 {
        flex-grow: 0;
        width: 94%;
    }
    #post-hr {
        display: block;
    }
}