button {
    margin-left: 10px;
}

.mat-raised-button {
    background-color: rgb(226, 226, 226);
}

.post-controlbar {
    background-color: rgb(141, 196, 141);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: 8px;
    padding-left: 15px;
    padding-bottom: 8px;
    border-bottom: 2px solid black;
    z-index: 3;
    line-height: 1.2em;
}

.post-controlbar .mat-raised-button:hover {
    background-color:rgb(6, 79, 50);
    color: white;
    transition: background-color color 0.5s;
    -webkit-transition: background-color color 0.5;
    -o-transition: background-color color 0.5s;
    -moz-transition: background-color color 0.5s;
}

.post-controlbar .mat-raised-button:hover * {
    -webkit-filter: invert(1);
    filter: invert(1);
    transition: filter 0.5s;
    transition: -webkit-filter 0.5s;
    -webkit-transition: -webkit-filter 0.5s;
    -o-transition: filter 0.5s;
    -moz-transition: filter 0.5s;
}

.post-background-container {
    min-height: calc(100vh - 106.2px);
    background: url(../../../assets/tropical-background.png) no-repeat center center fixed; 
    background-repeat: repeat-y;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.post-container {
    box-sizing: border-box;
    background-color: rgba(243, 255, 235, 0.85);
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 30px;
    padding-bottom: 20px;
    min-height: calc(100vh - 106.2px);
}

.post {
    margin-left: 10%;
    padding-left: 10px;
    margin-right: 10%;
    padding-top: 20px;
    display: block;
    position: relative;
}

.post-user-date {
    width: 100%;
}

.post-user {
    color: rgb(0, 95, 57);
}

.post-date {
    color: rgb(0,0,0, 0.5);
    font-size: 0.8rem;
    display: block;
}

.post-title {
    margin-bottom: 5px;
    margin-left: 20px;
}

.post-link {
    text-decoration: none;
    color: black;
}

.post-tags {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: 15px;
}

.post-tags .mat-stroked-button {
    border: 1px solid gray;
    background-color: rgb(141, 196, 141, 0.5);
    border-radius: 10rem;
    line-height: 28px;
    padding: 0 5px;
}

.post-tag button {
    margin-left: 5px;
}

.post-content {
    text-align: left;
    margin-left: 30px;
    width: 100%;
    white-space: pre-line;
}

.post-hr {
    margin-block-start: none;
    margin-block-end: none;
    margin: 0;
    margin-top: 30px;
}

.post-buttons {
    padding-top: 10px;
    padding-right: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.post .mat-button:hover {
    background-color:rgb(6, 79, 50);
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5;
    -o-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
}

.post .mat-button:hover * {
    -webkit-filter: invert(1);
    filter: invert(1);
    transition: filter 0.5s;
    transition: -webkit-filter 0.5s;
    -webkit-transition: -webkit-filter 0.5s;
    -o-transition: filter 0.5s;
    -moz-transition: filter 0.5s;
}

.col1 {
    background-color: rgb(141, 196, 141, 1);
    flex: 1;
    flex-grow: 0;
    float: left;
    text-align: left;
    width: 94%;
    border-right: 1px solid black;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.col2 {
    background-color: rgb(255, 255, 255, 1);
    opacity: 100%;
    flex: 3;
    flex-grow: 0;
    float: left;
    text-align: left;
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 10px;
    padding-bottom: 10px;
}