<div class="post-controlbar">
    <button id="create-post" mat-raised-button *ngIf="user.loggedIn" (click)="openPostCreationDialog()"><img src="assets/add-icon.svg" alt="">&nbsp; New Post</button>
    <button id="filter-posts" mat-raised-button (click)="openFilterDialog()"><img src="assets/filter-list-icon.svg" alt="">&nbsp; Filter Posts</button>
</div>
<div class="post-background-container">
    <div class="post-container">
        <div class="post" *ngFor="let post of posts">
            <div class="post-user-date">
                <div class="post-user">{{post.user}}</div>
                <div class="post-date">{{post.date}}</div>
            </div>
            <div class="post-buttons" *ngIf="post.user == user.username">
                <button id="post-edit" mat-button (click)="openPostEditingDialog(post)"><img src="assets/edit-icon.svg" alt=""></button>
                <button id="post-delete" mat-button (click)="openPostDeletionDialog(post._id)"><img src="assets/delete-icon.svg" alt=""></button>
            </div>
            <h3 class="post-title"><a class="post-link" [routerLink]="['/post', post._id]">{{post.title}}</a></h3>
            <div class="post-tags">
                <span class="post-tag" *ngFor="let tag of post.tags">
                    <button mat-stroked-button>{{tag}}</button>
                </span>
            </div>
            <div class="post-content">{{post.content}}</div>
            <hr class="post-hr">
        </div>
    </div>
</div>