<h2 mat-dialog-title>Account Registration</h2>

<mat-dialog-content>
    <mat-form-field>
        <mat-label>First Name</mat-label>
        <input matInput [(ngModel)]="firstName">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input matInput [(ngModel)]="lastName">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="username">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="password">
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button (click)="createAccount()">Create Account</button>
    <button mat-raised-button (click)="cancel()">Cancel</button>
</mat-dialog-actions>