<div class="navbar">
    <img id="app-logo" src="assets/board-icon.svg" alt="">
    <h1 id="h1-title">Ryan's Messageboard</h1>
    <div id="account-section">
        <h3 id="user" *ngIf="user.loggedIn">{{user.username}}</h3>
        <button id="logout-button" mat-raised-button *ngIf="user.loggedIn" (click)="logOut()">Log Out</button>
        <button id="create-account-button" mat-raised-button *ngIf="!user.loggedIn" (click)="openAccountCreationDialog()">Create an Account</button>
        <button id="login-button" mat-raised-button *ngIf="!user.loggedIn" (click)="openLoginDialog()">Log In</button>
        <button id="settings-button" mat-raised-button *ngIf="user.loggedIn" (click)="openSettingsDialog()"><img src="assets/settings-icon.svg" alt="Settings"></button>
    </div>
</div>