<h2>Account Login</h2>

<mat-dialog-content>
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="email">
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [(ngModel)]="password">
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button (click)="logIn()">Log In</button>
    <button mat-raised-button (click)="cancel()">Cancel</button>
</mat-dialog-actions>